@use "../abstracts/" as *;

.hero {
  padding-block: $padding-hero;
  padding-inline: $padding-hero;
  color: clr(neutral, 100);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  background-image: url(/images/hero-bg.webp);

  > h1 {
    font-family: $ff-headings;
    font-size: fs(900);
    line-height: 1.1;
  }
}
