@use "../abstracts/" as *;

.primary-nav {
  --flex-column-gap: #{size(48)};

  @media screen and (max-width: 45ch) {
    --flex-column-gap: #{size(32)};
  }

  @media screen and (max-width: 30ch) {
    --flex-column-gap: #{size(16)};
  }

  a {
    font-size: fs(500);
    font-family: $ff-headings;
    font-size: fs(600);
    transition: opacity 0.2s ease-in-out;
    color: clr(neutral, 100);
    &:hover,
    &:focus {
      opacity: 0.85;
      text-decoration: underline;
    }
  }
}
