@use "../abstracts/" as *;

body {
  font-family: $ff-base;
  font-weight: $fw-regular;
  line-height: 1.5;
  background: clr(neutral, 100);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding-block: $padding-section-block;
  padding-inline: $padding-section-inline;
  width: 100%;
  position: relative;
}

header {
  p {
    max-width: 50ch;
  }
}

.heading {
  font-size: fs(800);
  color: clr(primary, 500);
  font-family: $ff-headings;
  line-height: 1.1;
  padding-block-end: size(16);
}

.subheading {
  font-size: fs(500);
  color: clr(neutral, 400);
  text-transform: uppercase;
  margin-block-end: size(32);
  // max-width: 50ch;

  // &:is(.underlined) {
  //   margin-block-end: 0;
  // }
}

.heading-secondary {
  font-size: fs(400);
  color: clr(neutral, 900);
  font-weight: $fw-bold;
  text-transform: uppercase;
}

p {
  font-size: fs(400);
  color: clr(neutral, 400);
}

[data-color="inverted"] {
  background-color: clr(neutral, 900);

  & .heading,
  & .subheading,
  & .heading-secondary,
  & p {
    color: clr(neutral, 100);
  }
}
